.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    padding-right: 100px;
}

.navbar-dark .navbar-brand {
    color: rgb(255, 255, 255);
    padding-left: 100px;
}

.nav-bg {
    background-color: #125bac !important;
}

.navbar-dark .navbar-brand {
    color: #ffffff !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    margin-left: 1rem;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #F78A20 !important;
}

.logo-img {
    max-height: 65px;
}

.home-background {
    background: linear-gradient(0deg, rgba(246,246,246,1) 15%, rgba(186,223,253,1) 100%);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    position:relative;
    height: auto;
    top: 0;
    left: 0;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f6f6f6;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-img {
    max-width: 600px;
    height: 400px;
    width: 100%;
    align-self: center; 
    border-radius: 10%;
    margin: 0 auto;
    margin-left: 5rem;
  }

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.horizontal-line {
    width: 6px;
    height: 115px;
    background: #F78A20;
    margin-top: 6px;
    position: absolute;
    left: -20px;
}

.toggle-switch {
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    background-color: #F78A20;
    border-radius: 30px;
}

.custom-control {
    text-align: center;
    padding-left: 40px !important;
}

.content {
    padding: 50px;
  }
  .sectionHeading {
    text-align: center;
  }
  .showsNear  {
    padding: 0px 30px 30px 30px;
  }
  .cardContainer {
    text-align: center;
  }
    
.card-row {
    border-radius: 20px;
    background-color: #f6f6f6;
    padding-left: 25px;
    padding: 9px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    margin-left: 16px;
}

.fa-bell-slash {
    margin-left: 90px;
}

.fa-bell {
    margin-left: 90px;
}

/* .fa-bell-slash:before {
    content: "\f1f6";
    margin-left: 45px;
}

.fa-bell:before {
    content: "\f1f6";
    margin-left: 0px;
} */

.card-data {
    text-align: left;
    padding-left: 10px;
    color: #000 !important;
}

  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0) !important;
    background-clip: border-box;
    border: 0px !important;
    border-radius: 0.25rem;
    transition: 1.5s;
}

.card:hover {
    background-color: #125BAC;
    transform: scale(1) translateY(-15px);
    transition: 1.5s;
  }
  
  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    border-radius: 30px;
    color: white;
  }

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    border-radius: 30px;
    background-color: #B9DFFD;
    transition: 1.5s;
}

.card-body:hover {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    border-radius: 30px;
    background: linear-gradient(0deg, rgba(18,91,172,1) 54%, rgba(185,223,253,1) 100%);
    transition: 1.5s;
}

.btn-primary {
    color: #fff;
    background-color: #F78A20 !important;
    border-color: #F78A20 !important;
    transition: 1s;
}

.btn-primary:hover {
    color: #125BAC !important;
    background-color: #B9DFFD !important;
    border-color: #F78A20 !important;
}

.card-title {
    margin-bottom: 2.75rem;
    text-align: left;
    color: #125BAC;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.test-img {
    background-image: url('./Images/Banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.test-txt {
    justify-content:right;
    align-items: center;
    height: 400px;
    padding-top: 120px;
}

.banner-img {
        width:100%;
        height:200px;
        overflow:hidden;
        background-color: rgba(255, 255, 255, 0.7);
        height: 100%;
        z-index: -5;
}

form {
    width: 500px;
    margin: 35px auto;
    padding: 45px;
    border: 1px solid #F2F2F2;
    -webkit-box-shadow: 0 1px 4px rgb(0 0 0 / 30%), 0 0 40px rgb(0 0 0 / 10%) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgb(0 0 0 / 10%), 0 0 40px rgb(0 0 0 / 10%);
    background-color: #125BAC;
    border-radius: 20px;
}
  
.formheader {
    padding-left: 15px;
}

  footer {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
  }